#marqueeStyle {
    background-color: royalblue;
    font-size: 18px;
    color: aliceblue;
    font-family: roboto;
    z-index: 9999;
}

.nav_bar {
    z-index: 9999;
    position: sticky;
    top: 0;
}

body {
    text-align: center;
}

#video {
    width: 100%;
    height: 500px;
}

.contact1 {
    display: inline-block;
}

#map {
    margin: 20px;
}

#map iframe {
    margin: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.first_campus {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
    height: 560px;
}

.first_campus img {
    width: 100%;
}

.first_campus hr {
    width: 100%;
}

.first_campus h5,
.first_campus p {
    margin-left: 20px;
    margin-right: 20px;
}

.achieve_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    text-align: left;
}

.achieve_head i {
    float: right;
}

.achievment_img {
    padding-bottom: 10px;
}

.achieve_body {
    text-align: left;
}
